<mat-toolbar class="custom">

  <mat-toolbar-row>
    <span><img src="assets/img/UNOi.png" width="130" height="60"></span>
    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
  		<mat-icon>perm_identity</mat-icon>
	</button>
	<mat-menu #menu="matMenu">
  		<button mat-menu-item>
    		<mat-icon>settings</mat-icon>
    		<span>Ajustes</span>
  		</button>
  		<button mat-menu-item>
    		<mat-icon>directions_run</mat-icon>
    		<span>Salir</span>
  			</button>
	</mat-menu>
</mat-toolbar-row>

</mat-toolbar>